.welcome_content {
    font-size: 24px;
    color: rgb(14, 11, 44);
    display: flex;
    background-color: #fcdc97;
    margin-top: 62px;
    margin-bottom: 56px;
}

.welcome_content h1 {
    color: rgb(19, 29, 117);
}
