/* about me intro */

.about_content {
    text-align: center;
    margin: 100px;
    padding: 50px;
}

.about_content h3 {
    font-size: 30px;
    margin: 30px 0;
}

.about_content img {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: 10px;
}

.about_content p {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 10px 60px;
    font-size: 24px;
}

@media only screen and (max-width: 700px) {
    .welcome_content {
        padding: 50px 0px;
        margin: 15px;
        text-align: center;
    }
    .about_content img {
        width: 100%;
    }
    .about_content {
        margin: 15px;
    }
    .about_content img {
        width: 70%;
    }
    .about_content p {
        margin: 10px;
        width: 90%;
        font-size: 20px;
    }
}